.social-icon-container {
    width: 100%;
    text-align: center;
    background: white;
    padding: 1rem;
    box-shadow: 0px 0px 5px 2px #00000014;
    margin-bottom: 2rem;
}

.social-share-title{
  padding-top: 1rem;
}

hr {
  background-color: #cccccc69;
}

.icon-link {
  width: 60px;
  height: 60px;
  background-color: #666;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  outline: none;
  margin: 5px;
  box-sizing: content-box;
}
.icon-link.fill.facebook {
  background-color: #3b5998;
}
.icon-link.fill.facebook:hover {
  background-color: #fff;
}
.icon-link.fill.facebook:hover .fa-facebook {
  color: #3b5998;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.tumblr {
  background-color: #32506d;
}
.icon-link.fill.tumblr:hover {
  background-color: #fff;
}
.icon-link.fill.tumblr:hover .fa-tumblr {
  color: #32506d;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.linkedin {
  background-color: #007bb6;
}
.icon-link.fill.linkedin:hover {
  background-color: #fff;
}
.icon-link.fill.linkedin:hover .fa-linkedin {
  color: #007bb6;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.twitter {
  background-color: #00aced;
}
.icon-link.fill.twitter:hover {
  background-color: #fff;
}
.icon-link.fill.twitter:hover .fa-twitter {
  color: #00aced;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.google-plus {
  background-color: #dd4b39;
}
.icon-link.fill.google-plus:hover {
  background-color: #fff;
}
.icon-link.fill.google-plus:hover .fa-google-plus {
  color: #dd4b39;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.reddit {
  background-color: #8bbbe3;
}
.icon-link.fill.reddit:hover {
  background-color: #fff;
}
.icon-link.fill.reddit:hover .fa-reddit {
  color: #8bbbe3;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.youtube {
  background-color: #df1c31;
}
.icon-link.fill.youtube:hover {
  background-color: #fff;
}
.icon-link.fill.youtube:hover .fa-youtube {
  color: #df1c31;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.pinterest {
  background-color: #b81621;
}
.icon-link.fill.pinterest:hover {
  background-color: #fff;
}
.icon-link.fill.pinterest:hover .fa-pinterest {
  color: #b81621;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.github {
  background-color: #444;
}
.icon-link.fill.github:hover {
  background-color: #fff;
}
.icon-link.fill.github:hover .fa-github {
  color: #444;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.envelope {
  background-color: #333;
}
.icon-link.fill.envelope:hover {
  background-color: #fff;
}
.icon-link.fill.envelope:hover .fa-envelope {
  color: #333;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.soundcloud {
  background-color: #f50;
}
.icon-link.fill.soundcloud:hover {
  background-color: #fff;
}
.icon-link.fill.soundcloud:hover .fa-soundcloud {
  color: #f50;
  transition: color 150ms ease-in-out;
}
.icon-link.brand {
  background-color: #fff;
}
.icon-link.brand .fa {
  color: #006FC2;
}
.icon-link.round {
  border-radius: 50%;
}
.icon-link.round-corner {
  border-radius: 5px;
}
.icon-link:hover {
  transition: background-color 150ms ease-in-out;
  height: 56px;
  line-height: 56px;
  width: 56px;
  background-color: #fff;
}
.icon-link:hover.facebook {
  border: 2px solid #3b5998;
}
.icon-link:hover.tumblr {
  border: 2px solid #32506d;
}
.icon-link:hover.linkedin {
  border: 2px solid #007bb6;
}
.icon-link:hover.twitter {
  border: 2px solid #00aced;
}
.icon-link:hover.google-plus {
  border: 2px solid #dd4b39;
}
.icon-link:hover.reddit {
  border: 2px solid #8bbbe3;
}
.icon-link:hover.youtube {
  border: 2px solid #df1c31;
}
.icon-link:hover.pinterest {
  border: 2px solid #b81621;
}
.icon-link:hover.github {
  border: 2px solid #444;
}
.icon-link:hover.envelope {
  border: 2px solid #333;
}
.icon-link:hover.soundcloud {
  border: 2px solid #f50;
}
.icon-link:hover .fa {
  line-height: 56px;
}
.icon-link:hover .fa-facebook {
  color: #3b5998;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-tumblr {
  color: #32506d;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-linkedin {
  color: #007bb6;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-twitter {
  color: #00aced;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-google-plus {
  color: #dd4b39;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-reddit {
  color: #8bbbe3;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-youtube {
  color: #df1c31;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-pinterest {
  color: #b81621;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-github {
  color: #444;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-envelope {
  color: #333;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-soundcloud {
  color: #f50;
  transition: color 150ms ease-in-out;
}
.icon-link .fa {
  color: #fff;
  line-height: 60px;
  font-size: 36px;
}

.brand-icons {
  background-color: #ddd;
  padding: 10px 0;
}


.icon-link.fill.instagram {
  background-color: #9f64e0;
}
.icon-link.fill.instagram:hover {
  background-color: #fff;
}
.icon-link.fill.instagram:hover .fa-instagram {
  color: #9f64e0;
  transition: color 150ms ease-in-out;
}
.icon-link:hover.instagram {
  border: 2px solid #9f64e0;
}



.icon-link.fill.behance {
  background-color: #0057ff;
}
.icon-link.fill.behance:hover {
  background-color: #fff;
}
.icon-link.fill.behance:hover .fa-behance {
  color: #0057ff;
  transition: color 150ms ease-in-out;
}
.icon-link:hover.behance {
  border: 2px solid #0057ff;
}

.icon-link.fill.dribbble {
  background-color: #ea4c89;
}
.icon-link.fill.dribbble:hover {
  background-color: #fff;
}
.icon-link.fill.dribbble:hover .fa-dribbble {
  color: #ea4c89;
  transition: color 150ms ease-in-out;
}
.icon-link:hover.dribbble {
  border: 2px solid #ea4c89;
}

.icon-link.fill.codepen {
  background-color: black;
}
.icon-link.fill.codepen:hover {
  background-color: #fff;
}
.icon-link.fill.codepen:hover .fa-codepen {
  color: black;
  transition: color 150ms ease-in-out;
}
.icon-link:hover.codepen {
  border: 2px solid black;
}
.icon-link:before {
    content: none;
}


/* Share  */
.social-share-container {
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}

.social-share-a {
  color: #fff;
  text-decoration: none !important;
  font-family: Helvetica, Arial, sans-serif;
  margin:.3em;
  font-size: .8em;
  border-radius: 4px;
}

.social-share-icon {
  text-align:left;
  font-size:1.2em;
  margin-right:.5em;
}

.facebook-share {
  background-color:#3A5795;
  padding:0.6em 1.4em 0.6em 1em;
  text-align:left;
  border: 2px solid #3a5795;
}

.facebook-share:hover {
  background-color:#fff;
  color:#3A5795;
}

.twitter-share {
  background-color:#00B0ED;
  padding:0.6em 1.4em 0.6em 1em;
  text-align:left;
  border: 2px solid #00B0ED;
}
.twitter-share:hover {
  background-color:#fff;
  color:#00B0ED;
}
.pinterest-share {
  background-color:#BE091C;
  padding: 0.6em 1.4em 0.6em 1em;
  text-align:left;
  border: 2px solid #BE091C;
}
.pinterest-share:hover {
  background-color:#fff;
  color:#BE091C;
}

.linkedin-share {
  background-color:#0077b5;
  padding: 0.6em 1.4em 0.6em 1em;
  text-align:left;
  border: 2px solid #0077b5;
}
.linkedin-share:hover {
  background-color:#fff;
  color:#0077b5;
}

.reddit-share {
  background-color:#F44336;
  padding: 0.6em 1.4em 0.6em 1em;
  text-align:left;
  border: 2px solid #F44336;
}
.reddit-share:hover {
  background-color:#fff;
  color:#F44336;
}

.instagram-share {
  background-color:#607D8B;
  padding: 0.6em 1.4em 0.6em 1em;
  text-align:left;
  border: 2px solid #607D8B;
}
.instagram-share:hover {
  background-color:#fff;
  color:#607D8B;
}

.blog-share {
  background-color:#fb6405;
  padding: 0.6em 1.4em 0.6em 1em;
  text-align:left;
  border: 2px solid #fb6405;
}
.blog-share:hover {
  background-color:#fff;
  color:#fb6405;
}